header {
  height: 95vh;
}
section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.hero {
  height: 60%;
  width: 100%;
  background-color: $platinum;
  margin-top: 5em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
}
.hero img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}
.text-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}
.arrow {
    flex: 0 0 22%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    color: $onix;
    font-size: 1.5em;
  }
.headline {
  font-size: 3em;
  color: $onix;
  z-index: 3;
  padding: 0;
}
.bio {
  color: $onix;
}
@media (max-width: 900px) {
  .hero {
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    margin: 0;
    margin-top: 3em;
  }
  .hero img {
    width: 100%;
  }
  section {
    height: fit-content;
  }
  .arrow {
    display: none;
  }
  header {
    width: 100%;
  }
  .headline, .bio {
    font-size: 1.5em;
  }
  .text-hero {
    margin: 0;
    padding: 1em;
  }
  .icons {
    display: flex;
    // flex-direction: row !important;
    position: absolute;
    bottom: 0;
  }
  .body-text {
    p {
      width: 50%;
    }
    height: auto;
  }
  .btn-wrapper {
    width: 20em;
    // position: unset;
    span {
      font-size: 1em;
    }
    .git-icon {
      font-size: 1.5em;
    }
  }
  .btn-product {
    width: 35%;
  }
  .skills-wrapper {
    height: fit-content !important;
  }

}
