<ul class="icons icons-nav">
  <li><a href="https://www.linkedin.com/in/adriana-ito/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="https://github.com/Adrianaito" target="_blank"><i class="fab fa-github"></i></a></li>
  <li><a href = "mailto: ito.dri@gmail.com"><i class="far fa-envelope"></i></a></li>
  <li class="padding-left"><a href="/assets/images/adriana-ito-cv.pdf" download><i class="far fa-file-pdf"></i></a></li>
</ul>
<div class="wrapper" id="projects">
  <div class="content">
    <h1>Projects</h1>
    <%= partial 'projects' %>
  </div>
</div>
<div class="skills-wrapper" id="skills">
  <div class="content">
    <h1>Skills</h1>
    <div class="wrap-icons">
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/html5.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/javascript.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/sass-1.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/react-2.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/bootstrap-4.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/rails.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/ruby.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/postgresql-icon.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/heroku-icon.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/figma-1.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/github.svg" alt="">
      </div>
      <div class="card-icon">
        <img class="lang-icon" src="/assets/images/icons/git-icon.svg" alt="">
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
